/* -------------------- Media (Max-Width) CSS -------------------- */
/* Account for smaller screens */
@media (max-width: 768px) {

}

@media (max-width: 480px) {
    
}

/* -------------------- Non-restricted CSS -------------------- */
html {
    scroll-behavior: smooth;
    background-color: #106EBE;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------- General ---------- */
.name {
    color: #0FFCBE;
    font-size: 1.5em;
}

.major {
    color: #FA8334;
    font-size: 1.5em;
}

/* ---------- Header ---------- */
header {
    background-color: #0B4A94;
    padding: 20px 0;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 1.25em;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0FFCBE;
}

/* ---------- Body ---------- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#introduction, #about, #skills, #experience, #education, #projects, #contact {
    margin: 50px 0;
}

#about h1, #skills h1, #experience h1, #education h1, #projects h1, #contact h1 {
    text-align: center;
    color: #0FFCBE;
    font-size: 2em;
    margin-bottom: 0px;
}

#about h2, #skills h2, #experience h2, #education h2, #projects h2, #contact h2 {
    color: #0FFCBE;
    font-size: 1.5em;
    margin-bottom: 0px;
}

#about p, #skills p, #experience p, #education p, #projects p, #contact p {
    color: white;
    font-size: 1em;
}

/* ---------- Introduction ---------- */
#introduction {
    margin-top: 100px;
}

#introduction p {
    font-size: 3em;
}

#introduction p span {
    font-size: inherit;
    font-weight: bold;
}

.socials {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin: 30px 0;
}

.social-logo {
    width: 40px;
    height: 40px;
}

.contact-resume {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.contact-link, .resume-link {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-link:hover, .resume-link:hover {
    color: #0FFCBE;
}

/* ---------- About ---------- */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    margin-right: 150px;
}

.about-image {
    flex: 0 0 300px;
    margin-right: 100px;
}

.about-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* ---------- Skills ---------- */
.skills-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card p {
    margin: 5px 0 0 0
}

.skill-image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}