/* -------------------- Media (Max-Width) CSS -------------------- */
/* Account for smaller screens */
@media (max-width: 768px) {

}

@media (max-width: 480px) {
    
}

/* -------------------- Non-restricted CSS -------------------- */
html {
    scroll-behavior: smooth;
    background-color: #106EBE;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #0B4A94;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    display: none;
    transition: opacity 0.3s;
}

#backToTop.show {
    display: block;
    opacity: 1;
}

/* ---------- General ---------- */
.name {
    color: #0FFCBE;
    font-size: 1.5em;
}

.major {
    color: #FA8334;
    font-size: 1.5em;
}

/* ---------- Header ---------- */
header {
    background-color: #0B4A94;
    padding: 20px 0;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 1.25em;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0FFCBE;
}

/* ---------- Body ---------- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#introduction, #about, #skills, #experience, #education, #projects, #contact {
    margin: 50px 0;
}

#about h1, #skills h1, #experience h1, #education h1, #projects h1, #contact h1 {
    text-align: center;
    color: #0FFCBE;
    font-size: 2em;
    margin-bottom: 0px;
}

#about h2, #skills h2, #experience h2, #education h2, #projects h2, #contact h2 {
    color: #0FFCBE;
    font-size: 1.5em;
    margin-bottom: 0px;
}

#about p, #skills p, #experience p, #education p, #projects p, #contact p {
    font-size: 1em;
}

/* ---------- Introduction ---------- */
#introduction {
    margin-top: 100px;
}

#introduction p {
    font-size: 3em;
}

#introduction p span {
    font-size: inherit;
    font-weight: bold;
}

.socials {
    display: flex;
    justify-content: left;
    gap: 30px;
    margin: 30px 0;
}

.social-logo {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-logo:hover {
    transform: scale(1.15);
}

.contact-resume {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.contact-link, .resume-link {
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-link:hover, .resume-link:hover {
    color: #0FFCBE;
}

/* ---------- About ---------- */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    flex: 1;
    margin-right: 150px;
}

.about-image {
    flex: 0 0 300px;
    margin-right: 100px;
}

.about-image img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* ---------- Skills ---------- */
.skills-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-card p {
    margin: 5px 0 0 0
}

.skill-image {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* ---------- Experience ---------- */


/* ---------- Experience, Education, & Projects ---------- */
#education-container,
#experience-container,
#project-container {
    position: relative;
    margin-bottom: 20px;
}

.education-card,
.experience-card,
.project-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px 0 0;
    padding: 0 15px 15px;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.education-card:hover,
.experience-card:hover,
.project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.education-date-container,
.experience-date-container,
.project-date-container {
    text-align: center;
    margin: 10px;
}

.education-date,
.experience-date, 
.project-date {
    color: #0FFCBE;
    display: inline;
}

.education-info,
.experience-info,
.project-info {
    align-items: center;
    display: flex;
    gap: 50px;
}

.education-logo,
.experience-logo,
.project-logo {
    max-height: 150px;
    max-width: 225px;
    border-radius: 10px;
}

.education-details,
.experience-details,
.project-details {
    display: none;
    margin-top: -10px;
    padding: 0 15px 0 15px;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

.toggle-icon {
    font-size: 30px;
    margin-left: auto;
    margin-right: 30px;
    transition: transform 0.3s ease;
}



/* ---------- Contact Me ---------- */
.contact-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    gap: 100px;
}

.contact-form-container {
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

.contact-form-container label {
    margin-top: 10px;
    display: block;
}

.contact-form-container input, 
.contact-form-container textarea {
    width: 97%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#contact-submit-container {
    justify-content: center;
    display: flex;
}

.contact-form-container button {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    color: #0FFCBE;
    font-size: 1.25em;
    cursor: pointer;
    transition: transform 0.3s;
}

.contact-form-container button:hover {
    transform: scale(1.05);
}

.contact-form-container textarea {
    resize: vertical;
}

#contact-error-container {
    justify-content: center;
    display: flex;
}

#contact-error-text {
    color: #bc1c1d;
    text-align: center;
    display: none;
}

.contact-info-container {
    font-size: 1.25em;
    flex: 1;
}

.icon-text-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    margin: 20px 0;
}

.icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    background-color: #0B4A94;
    border-radius: 50%;
    margin-right: 8px;
}

.contact-img {
    width: 50%;
    height: 50%;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.9;
    transition: opacity 0.5s;
    background-color: #0B4A94;
    display: none;
}